[submodule "devops/docs/doxygenFlatTheme"]
	path = devops/docs/doxygenFlatTheme
	url = git@github.com:AnthonyNauman/Doxygen-Flat-Theme.git
[submodule "devops/docs/doxygenDarkTheme"]
	path = devops/docs/doxygenDarkTheme
	url = git@github.com:AnthonyNauman/Doxygen-Dark-Theme.git
